@import "../../variables.scss";
.experiences {
  &__item {
    display: flex;
    margin-bottom: 3.6rem;
  }
  &__companyLogo {
    img {
      width: 75px;
    }
  }
  &__textContent {
    margin: 0 32px;
  }
  &__time {
    color: $light-grey1;
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }
  &__position {
    font-size: 1.6rem;
    margin-bottom: 3.2rem;
  }
  &__description {
    font-size: 1.6rem;
    color: $light-grey1;
  }
}

@media (max-width: 768px) {
  .experiences {
    &__companyLogo {
      img {
        width: 55px;
      }
    }
  }
}
