@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

$main-font: "Montserrat", Arial, Helvetica, sans-serif;

$dark-grey1: #333333;
$dark-grey2: #4f4f4f;
$light-grey1: #828282;
$light-grey2: #cacaca;
$orange: #c49104;
